<a id="logo" href="http://midnightoil.se/"><img src="/img/MOL.jpg"></img></a>
<a id="mol" href="http://midnightoil.se/">Midnight Oil Labs</a>
<div class='container'>
<h1>
Powerful Headlines
</h1>
<h2>
Tell the world what you do for your customers in 100 characters or less.
</h2>
<div class="transparent_bg">
<p id="page_desc">When someone arrives at your website, they will spend less than two seconds deciding if your product or service is for them.
If you don't offer them something within that time, they will leave. A clear headline describing what you offer does not only
entice customers. It says that you respect them and value their time enough to be upfront and honest right from the start.</p>
</div>
<div class='container'>

<p class="alert alert-danger hideme"></p>

<%= form_for @headline, :remote => true, :authenticity_token => true, :html => { :data_type => 'json' } do |f| %>
 
  <div class="row">
  <div class="field col-md-9">
    <%= f.text_field :content, :required => true, :placeholder => 'Your powerful headline' %>
    <span id="theCounter"></span>
  </div>
  <div class="field col-md-3">
    <%= f.text_field :company, :required => true, :placeholder => 'Company or product', :maxlength => 100 %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Tell the world'%>
  </div>
<% end %>

<div class="pagination_wrap">
<%= paginate @headlines, :remote => true %>
</div>
<ul>
<% @headlines.each do |headline| %>
	<%= render headline %>
<% end %>
</ul>
<div class="pagination_wrap">
<%= paginate @headlines, :remote => true %>
</div>
</div>

</div>

<div id="footer">
	<a href="http://midnightoil.se/">Midnight Oil Labs</a> © <%= Time.now.year %>
</div>

