<a id="logo" href="http://midnightoil.se/"><img src="/img/MOL.png"></img></a>
<a id="mol" href="http://midnightoil.se/">Midnight Oil Labs</a>
<div class='container'>
<h1>
Powerful Headlines
</h1>
<h2>
Your headline makes or breaks your website.<br> Browse some great examples or share your own. 
</h2>
<p><a id="why" title="" href=#>Why headlines are so important</a></p>
<div class="transparent_bg">
<p id="page_desc">When someone comes to your site, you have one second to convince them you have what they want before they give up and leave. So here I collect the best website headlines I can find and I even give you a chance to share your own.  :)&#013;&#013;   - Layla from Midnight Oil Labs
	</p>
</div>
</div>
<div class='container'>

<p class="alert alert-danger hideme"></p>

<%= form_for @headline, :remote => true, :authenticity_token => true, :html => { :data_type => 'json' } do |f| %>
 
  <div class="row" id="first_row">
	  <div class="field col-md-12">
	    <%= f.text_field :content, :required => true, :placeholder => 'Your website\'s headline', :autocomplete => 'off' %>
	    <span id="theCounter"></span>
	  </div>
  </div>
  
  <div class="row">
	  <div class="field col-md-3 col-md-offset-2">
	    <%= f.text_field :company, :required => true, :placeholder => 'Company or product name', :maxlength => 100, :autocomplete => 'off' %>
	  </div>
	  <div class="field col-md-6">
	    <%= f.text_field :link, :required => true, :placeholder => 'Link to your home page', :maxlength => 500, :autocomplete => 'off' %>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Tell the world'%>
  </div>
<% end %>

<div class="pagination_wrap">
<%= paginate @headlines, :remote => true %>
</div>
<ul>
<% @headlines.each do |headline| %>
	<%= render headline %>
<% end %>
</ul>
<div class="pagination_wrap">
<%= paginate @headlines, :remote => true %>
</div>
</div>

<div id="footer">
	<a href="http://midnightoil.se/">Midnight Oil Labs</a> © <%= Time.now.year %>
</div>

